<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <script type="text/javascript" src="<%= publicPath %>vendor/jquery/jquery.min.js"></script>
    <%= header %>
  </head>
  <body>
    <%= navigator %> <%= content %> <%= footer %>
  </body>
</html>
