<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= pageTitle %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
  <meta name="renderer" content="webkit" />
  <!--[if lt IE 9]>
  <script type="text/javascript" src="<%= publicPath %>static/vendor/base/html5shiv.min.js"></script>
  <script type="text/javascript" src="<%= publicPath %>static/vendor/base/respond.min.js"></script>
  <script type="text/javascript" src="<%= publicPath %>static/vendor/base/selectivizr-min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="<%= publicPath %>static/vendor/layui/css/layui.css">
  <script type="text/javascript" src="<%= publicPath %>static/vendor/layui/layui.js"></script>
  <script type="text/javascript" src="<%= publicPath %>static/vendor/jquery/jquery.min.js"></script>
  <%= head %>
</head>
<body>
    <%= content %>
    <%= foot %>
</body>
</html>